.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-width:767px) {
    .footer__links {
        width: 184px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 12px;
    }
}